<button
  (click)="setOpenNav(true)"
  type="button"
  class="inline-flex fixed items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-[320px] h-screen transition-transform -translate-x-full sm:translate-x-0"
  [ngClass]="{ 'translate-x-0 w-[100%]': isOpenNav }"
  aria-label="Sidebar"
>
  <button
    (click)="setOpenNav(false)"
    type="button"
    class="inline-flex sm:hidden fixed items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
  >
    <span class="sr-only">Open sidebar</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      ></path>
    </svg>
  </button>
  <div class="h-full py-4 overflow-y-auto bg-[#E5E8EC]">
    <div class="py-[46px] m-auto w-fit space-y-6">
      <img
        src="assets/logo.png"
        class="max-w-[80px] m-auto opacity-[0.8]"
        alt=""
      />
      <div class="m-auto text-center">
        <span class="font-bold text-[24px] text-[#4C5456]">Movie PK</span>
      </div>
    </div>
    <div class="border-t-[1px] border-[#dee4e5] opacity-[0.8]"></div>
    <ul class="space-y-2 font-medium mt-[60px]">
      <li *ngFor="let item of menuList">
        <a
          [routerLink]="[item.path]"
          class="no-underline flex items-center p-[8px] gap-x-[8px] text-[#CACDCC] hover:border-r-[4px] hover:border-[#65CBD2] pl-[60px] hover:!text-none"
          [class]="{
            'nav-active': this.router.url.split('?')[0] === item.path
          }"
        >
          <ng-icon name="{{ item.icon }}" class="text-[20px]"></ng-icon>
          <span class="flex-1 ml-3 whitespace-nowrap text-[16px] font-bold">{{
            this.item.name
          }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="px-[60px] pt-[70px] sm:ml-[310px] bg-[#EFF3F4]">
  <h1 class="mb-[40px] text-[32px] text-[#4C5456]">
    {{ getCurrentMenu()?.name }}
  </h1>

  <router-outlet></router-outlet>
</div>
